<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>???</title>
  </head>
  <body>

    <style type="text/css">
      .adj {
        font-size: 35px;
        background: linear-gradient(45deg, #00c1ff 20%, #f7f681 40%, #fa9b91);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #00c1ff;
        display: table; }
    </style>

    <center>
      <h1>
        <div class = 'adj'> {{ something|random }} </div> weB-приЛОЖЕние
      </h1>
    </center>

    {% block content %}
    -- This should not be rendered --
    {% endblock %}

  </body>
</html>
