{% extends "base.html" %}

{% block content %}
<style type="text/css">
  .must {
    text-decoration: underline;
    font-weight: bold;
    font-size: x-large;
    color: slateblue;
  }
  .button1 {
    font-size: xx-large;
    margin-top: 4cm;
    margin-left: 6cm;
    -webkit-text-stroke: 2px;
  }
  .button2 {
    font-size: xx-large;
    margin-top: 6cm;
    margin-left: 10cm;
    -webkit-text-stroke: 2px;
  }
  .button3 {
    font-size: xx-large;
    margin-top: 0.5cm;
    margin-left: 1cm;
    -webkit-text-stroke: 2px;
  }
  .button4 {
    font-size: xx-large;
    margin-top: -12cm;
    margin-left: 15cm;
    -webkit-text-stroke: 2px;
  }
  .button5 {
    font-size: xx-large;
    margin-top: 2cm;
    margin-left: 20cm;
    -webkit-text-stroke: 2px;
  }
  .button1 a {
    text-decoration: none;
    color: fuchsia;
  }
  .button2 a {
    text-decoration: none;
    color: green;
  }
  .button3 a {
    text-decoration: none;
    color: rgb(255, 41, 73);
  }
  .button4 a {
    text-decoration: none;
    color: pink;
  }
  .button5 a {
    text-decoration: none;
    color: rgb(218, 253, 253);
  }
</style>
<p>
  <center>
    Чтобы продожить <font class = "must">необходимо</font> нажать на кнопку!!!
  </center>
</p>
<div class = 'button1'>
  <a href = "wrong"> Кнопарик) </a>
</div>
<div class = 'button2'>
  <a href = "wrong"> Кнопарик) </a>
</div>
<div class = 'button3'>
  <a href = "wrong"> Кнопарик) </a>
</div>
<div class = 'button4'>
  <a href = "wrong"> Кнопарик) </a>
</div>
<div class = 'button5'>
  <a href = "wth"> Кнопарик) </a>
</div>
{% endblock %}
