{% extends "base.html" %}

{% block content %}

<style type="text/css">
  .hi {
    text-align: center;
    font-size: 80px;
  }
</style>

<div class = "hi">
  <font color = "red"> пОжаЛУЙста  </font> <font color = "orange"> хВАТит </font> <font color = "yellow"> ужЕ </font> <font color = "green"> меНЯ </font> <font color = "blue"> тоРМОшиТь, </font> <font color = "purple"> челоВЕК </font>!!!!
</div>

<form method = "GET">
  <input name = "text" value = "{{name}}">
  <input type = "submit" value = "ща ЧЕКнем)">                  <!-- НЕ РАБОТАЕТ!!!!!! --> 
</form>

{% endblock %}
